<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="icon" href="/favicon.png">
    <meta charset="UTF-8">

{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages  | default: default_paths -%}
{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <p>
      {%- for path in page_paths -%}
      {%- assign my_page = site.pages | where: "path", path | first -%}
      {%- if my_page.maintitle -%}
      <a class="btn" href="{{ my_page.url | relative_url }}">{{ my_page.maintitle | escape }}</a>
      {%- endif -%}
      {%- endfor -%}
      </p>
      <p>
        {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <img alt="View {{ site.title }} on Twitter" src="assets/svg/twitter-white.svg" style="width:32px;height:32px"/>
          </a>
        {% endif %}
        {% if site.github.repo %}
          <a href="https://github.com/{{ site.github.repo }}">
            <img  alt="View {{ site.title }} on Github"  src="assets/svg/github-white.svg" style="width:32px;height:32px"/>
          </a>
        {% endif %}     
        {% if site.discord_invite %}
          <a href="https://discord.gg/{{ site.discord_invite }}">
            <img alt="Join {{ site.title }} on Discord"  src="assets/svg/Discord-Logo-Color.svg" style="width:32px;height:32px"/>
          </a>
        {% endif %}   
        
      </p>
    </header>
   
    <main id="content" class="main-content" role="main">
      <div class="site-breadcrumb">
        {%- for bc in page.breadcrumb, -%}
        {%- if forloop.first -%}
  
        {%- else -%}
          &nbsp;&gt;
        {% endif %}
        {%- if bc.url -%}
          <a href="{{ bc.url }}">{{ bc.name }}</a>
        {%- else -%}
          <span>{{ bc.name}}</span>
        {%- endif -%}
        {%- endfor -%}
      </div> 

      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
